*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html {
    box-sizing: border-box;
}
body {
    background-color: hsl(0, 0%, 95%);
}
.box-card {
    display: grid;
    grid-template-columns: 0.3fr 1fr 0.3fr;
    grid-template-rows: auto;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    
}
.card {
    display: flex;
    grid-column: 2/3;
    grid-row: 2;
    width: auto;
    color: hsl(0, 0%, 95%);
    height: auto;
}
#sedans, #suvs, #luxury {
    font-weight: 400;
    font-family: 'Lexend Deca', sans-serif;
}
#sedans {
    background-color: hsl(31, 77%, 52%);
    padding: 2rem;
 

}
#suvs {
    background-color: hsl(184, 100%, 22%);
    padding: 2rem;
   
}
#luxury {
    background-color: hsl(179, 100%, 13%);
    padding: 2rem;
}
.section-icon {
    padding: 1rem;
    padding-left: 0;
}
.head {
    text-transform: uppercase;
    padding: 1rem;
    padding-left: 0;
    display: block;
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 700;
}
.para {
    display: block;
    padding: 1rem;
    padding-left: 0;
    font-size: 0.7rem;
    line-height: 1.7;
}

                    /* BUTTON STYLESHEET */

.card #sedans a:hover {                               /* CSS specificity  */
    background-color: hsl(31, 77%, 52%);
    border: 2px #fff solid;
    color: #fff;
}  
.card #suvs a:hover {
    border: 2px #fff solid;
    background-color: hsl(184, 100%, 22%);
    color: #fff;
}          
.card #luxury a:hover {
    border: 2px #fff solid;
    background-color: hsl(179, 100%, 13%);
    color: #fff;
} 
.btn {
    display: inline-block;
    padding: 1rem 1.2rem;
    background-color: hsl(0, 0%, 95%);
    border-radius: 30px;
    width: 9rem;
    border: none;                           /* stoping hover action to */
    border: 2px solid transparent;          /* increasing height of card */
    margin: 2rem;
    margin-left: 0;
    text-decoration: none;
    text-align: center;
}
#sedans .btn{
    color: hsl(31, 77%, 52%);
    text-decoration: none;
}
#suvs .btn{
    color: hsl(184, 100%, 22%);
    text-decoration: none;
}
#luxury .btn{
    color: hsl(179, 100%, 13%);
    text-decoration: none;
}

                /* MEDIA QUERY */

@media (max-width: 700px) {
    .box-card {
        padding: 2rem;
    }
    .card {
        height: 100%;
        margin: 3rem;
        flex-direction: column;
    }
}

                /* FOOTER STYLESHEET */

footer {
    grid-column: 1 / -1;
    grid-row: 3/ 4;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 0.8rem;
    margin-top: auto;
    text-align: center;
}
.footer a {
    color: hsl(228, 45%, 44%);
}

                    


